DATABASE_URL=sqlite:///./dev.db

SECRET_KEY=supersecretkey

SESSION_COOKIE_NAME=tankapp_session

ENV=development

MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=noreply@tankapp.example.com
MAIL_SERVER=smtp.example.com
MAIL_PORT=587
MAIL_STARTTLS=true
